.container {
  padding: 2px 0;
  display: flex;
}
.left {
  justify-content: flex-start;
  text-align: left;
}
.center {
  justify-content: center;
  text-align: center;
}
.text {
  font-family: inherit;
} 